body {
  background-image: url("/images/C63.jpg");
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;
}

label {
    font: normal 14px courier;
}

.btn{
    background: ;
} .btn:focus{
    background: red;
} 
